<div class="align-items-center h-100">
  <header >
    <nav class="mx-auto navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/main">Reporter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a routerLink="/lookups" routerLinkActive="active" class="nav-link">
                Lookups
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/mapping" class="nav-link">
                Mapping
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/report" class="nav-link">
                Reports
              </a>
            </li>
            <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-user-circle fa-2x"></i>
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" routerLink="/user" >Details</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" [routerLink]="['/login']">Logout</a>
             </div>
           </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="mx-auto center main">

    <!-- Message -->
    <div class="box row" *ngIf="message.show" [ngClass]="{'box-error': isError(),'box-warning' : isWarning(),'box-success' : isSuccess()}">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-2">
              <i class="fas fa-2x" aria-hidden="true"
                [ngClass]="{'fa-skull-crossbones':isError(),'fa-exclamation-triangle':isWarning(),'fa-thumbs-up':isSuccess()}"
              ></i>
            </div>
            <div class="col-sm-8 message">
              <h6>{{message.message}}</h6>
            </div>
            <div class="col-sm-2">
              <span class="fa-stack fa btn-fa" tabindex="1" (click)="toggleMessageVis()" (keyup.enter)="toggleMessageVis()">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fas fa-times fa-stack-1x fa-inverse" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
    </div>

    <!-- <div class="loading" *ngIf="loading">
      <h1>Loading <i class="fas fa-spinner fa-pulse"></i></h1>
    </div>
    <div *ngIf="!loading"> -->
      <router-outlet></router-outlet>
    <!-- </div> -->
  </div>
</div>
